@import './pages.css';

/*----------------------------------------------   
--About page
-----------------------------------------------  */
.btn--back {
    background: var(--career-colour);
}
.btn--back:hover {
    background: var(--career-colour-light);
}

.page-header::after
{
    background: var(--career-colour);
}

.heading {
    color: var(--career-colour);
}

.heading {
    top: 34%;
}

.text-content {
    top: 34%;
}

.logos-container {
    top: 66%;
}

.logos-container li {
    flex: 0 0 21%;
}

.logos-item img {
    height: 65px;
}
